:root
  font-family Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
  line-height 1.5
  font-weight 400
  
  color-scheme light dark
  color $color
  background-color $backgroundColor
  
  font-synthesis none
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-text-size-adjust 100%

  --theme-color $color
  --theme-accent-color $accent
  --theme-color-bg $backgroundColor

  --box-shadow $shadow

a
  font-weight 500
  text-decoration inherit
  color darken($color, 20%)
  border-radius 0.3rem
  padding 0.2rem 0.5rem


  &:hover
    color darken($color, 10%)