/**
 * Colors: Solid
 * -------------------------------------------------------------------------- */
:root
  --c-white #ffffff
  --c-black #000000

  --c-neutral var(--c-black)
  --c-neutral-inverse var(--c-white)

.dark
  --c-neutral var(--c-white)
  --c-neutral-inverse var(--c-black)

/**
 * Colors: Palette
 *
 * The primitive colors used for accent colors. These colors are referenced
 * by functional colors such as "Text", "Background", or "Brand".
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 * 
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *    It must satisfy the contrast ratio with pure white (#ffffff) text on
 *    top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *    or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *    on top of it.
 *
 *    The soft color must be semi transparent alpha channel. This is crucial
 *    because it allows adding multiple "soft" colors on top of each other
 *    to create a accent, such as when having inline code block inside
 *    custom containers.
 * -------------------------------------------------------------------------- */
:root 
  --c-gray-1 #dddde3
  --c-gray-2 #e4e4e9
  --c-gray-3 #ebebef
  --c-gray-soft rgba(142, 150, 170, 0.14)
  --c-indigo-1 #3451b2
  --c-indigo-2 #3a5ccc
  --c-indigo-3 #5672cd
  --c-indigo-soft rgba(100, 108, 255, 0.14)
  --c-green-1 #18794e
  --c-green-2 #299764
  --c-green-3 #30a46c
  --c-green-soft rgba(16, 185, 129, 0.14)
  --c-yellow-1 #915930
  --c-yellow-2 #946300
  --c-yellow-3 #9f6a00
  --c-yellow-soft rgba(234, 179, 8, 0.14)
  --c-red-1 #b8272c
  --c-red-2 #d5393e
  --c-red-3 #e0575b
  --c-red-soft rgba(244, 63, 94, 0.14)

.dark
  --c-gray-1 #515c67
  --c-gray-2 #414853
  --c-gray-3 #32363f
  --c-gray-soft rgba(101, 117, 133, 0.16)
  --c-indigo-1 #a8b1ff
  --c-indigo-2 #5c73e7
  --c-indigo-3 #3e63dd
  --c-indigo-soft rgba(100, 108, 255, 0.16)
  --c-green-1 #3dd68c
  --c-green-2 #30a46c
  --c-green-3 #298459
  --c-green-soft rgba(16, 185, 129, 0.16)
  --c-yellow-1 #f9b44e
  --c-yellow-2 #da8b17
  --c-yellow-3 #a46a0a
  --c-yellow-soft rgba(234, 179, 8, 0.16)
  --c-red-1 #f66f81
  --c-red-2 #f14158
  --c-red-3 #b62a3c
  --c-red-soft rgba(244, 63, 94, 0.16)

/**
 * Colors: Background
 *
 * - `bg`: The bg color used for main screen.
 *
 * - `bg-alt`: The alternative bg color used in places such as "sidebar".
 *
 * - `bg-elv`: The elevated bg color. This is used at parts where it "floats",
 *   such as "dialog".
 *
 * - `bg-soft`: The bg color to slightly ditinguish some components from
 *   the page. Used for things like "carbon ads" or "table".
 * -------------------------------------------------------------------------- */
:root
  --c-bg #ffffff
  --c-bg-alt #f6f6f6
  --c-bg-elv #ffffff
  --c-bg-soft #f6f6f6

.dark
  --c-bg 1b1b1b
  --c-bg-alt #161616
  --c-bg-elv #202127
  --c-bg-soft #202020

/**
 * Colors: Borders
 *
 * - `divider`: This is used for separators. This is used to divide sections
 *   within the same components, such as having separator on "h2" heading.
 *
 * - `border`: This is designed for borders on interactive components.
 *   For example this should be used for a button outline.
 *
 * - `gutter`: This is used to divide components in the page. For example
 *   the header and the rest of the page.
 * -------------------------------------------------------------------------- */
:root
  --c-border #c2c2c2
  --c-divider #e2e2e2
  --c-gutter #e2e2e2

.dark
  --c-border #3c3c3c
  --c-divider #2e2e2e
  --c-gutter #000000

/**
 * Colors: Text
 *
 * - `text-1`: Used for primary text.
 *
 * - `text-2`: Used for muted texts, such as "inactive menu" or "info texts".
 *
 * - `text-3`: Used for subtle texts, such as "placeholders" or "caret icon".
 * -------------------------------------------------------------------------- */
:root
  --c-text-1 rgba(60, 60, 67, 1)
  --c-text-2 rgba(60, 60, 67, 0.78)
  --c-text-3 rgba(60, 60, 67, 0.56)

.dark
  --c-text-1 rgba(255, 255, 245, 0.86)
  --c-text-2 rgba(235, 235, 245, 0.6)
  --c-text-3 rgba(235, 235, 245, 0.38)

/**
 * Typography
 * -------------------------------------------------------------------------- */
:root
  --font-family-base Ubuntu, Helvetica, Arial, Noto Sans
  --font-family-mono 'Ubuntu Mono', 'Courier New', monospace

/**
 * Shadows
 * -------------------------------------------------------------------------- */
:root
  --shadow-1 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.06)
  --shadow-2 0 3px 12px rgba(0, 0, 0, 0.07), 0 1px 4px rgba(0, 0, 0, 0.07)
  --shadow-3 0 12px 32px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.08)
  --shadow-4 0 14px 44px rgba(0, 0, 0, 0.12), 0 3px 9px rgba(0, 0, 0, 0.12)
  --shadow-5 0 18px 56px rgba(0, 0, 0, 0.16), 0 4px 12px rgba(0, 0, 0, 0.16)

/**
 * Component: Input
 * -------------------------------------------------------------------------- */
:root
  --input-border-color var(--c-border)
  --input-bg-color var(--c-bg-alt)
  --input-switch-bg-color var(--c-gray-soft)

/**
 * Component: Nav
 * -------------------------------------------------------------------------- */
:root
  --nav-height 64px
  --nav-bg-color var(--c-bg)
  --nav-screen-bg-color var(--c-bg)
  --nav-logo-height 24px